[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pyyaml = "*"
jinja2 = "*"
humanize = "*"
pydantic = "*"
pydantic-settings = "*"

[dev-packages]
ruff = "*"
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "pipenv run fastapi dev app.py"
prod = "pipenv run fastapi run app.py"
rc = "pipenv run ruff check ."
rf = "pipenv run ruff format ."
