[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
musicbrainzngs = ">=0.4"
fastapi = "*"
pyyaml = "*"
jinja2 = "*"
humanize = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "pipenv run fastapi dev app.py"
prod = "pipenv run uvicorn app:app"
rc = "pipenv run ruff check ."
rf = "pipenv run ruff format ."
