* {
  font-family: sans-serif;
}
.album {
  min-width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0.2em;
  transition: 0.3s;
  display: inline-block;
  background: var(--ash-gray);
}
.album:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.album .container {
  padding: 0.5em;
}
.completeness {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 60%;
  padding: 0.1em;
  display: inline-flex;
}
.progress-bar {
  background-color: rgb(55, 164, 0);
  height: 100%;
  padding: 0.2em;
  animation: grow-bar 1.5s;
}
.invalid {
  background-color: darkred;
  color: white;
}
content.album-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.7em;
}

#footer {
  padding-top: 3em;
  font-size: 10pt;
}

#lossydistribution {
  width: 70%;
  display: flex;
}

#lossydistribution div {
  padding: 0.2em;
  min-width: 2em;
}

#lossless {
  background-color: var(--ultra-violet);
  color: white;
}

#lossy {
  background-color: var(--raspberry-rose);
}

#unknown {
  background-color: var(--ash-gray);
}

:root {
  --ultra-violet: hsla(256, 30%, 38%, 1);
  --ash-gray: hsla(178, 21%, 73%, 1);
  --raspberry-rose: hsla(347, 44%, 51%, 1);
  --buff: hsla(21, 69%, 73%, 1);
  --atomic-tangerine: hsla(20, 100%, 76%, 1);

  --card-gradient: linear-gradient(
    160deg,
    var(--ultra-violet) 0%,
    var(--raspberry-rose) 60%
  );
  --nav-gradient: linear-gradient(
    180deg,
    var(--buff) 0%,
    var(--raspberry-rose) 100%
  );
}

navigation li {
  display: inline;
  padding: 0.7 em;
  padding-right: 0.7em;
}
navigation a {
  padding: 0.7em;
  background: var(--nav-gradient);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 0.15em;
}

navigation a:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.insights div {
  min-width: 200px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin: 1em;
  padding: 1.5em;
  transition: 0.3s;
  display: inline-block;
  min-height: 130px;
  background: var(--card-gradient);
  color: white;
}
.insights div:hover {
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
}

@keyframes grow-bar {
  from {
    transform-origin: 0% 0%;
    transform: scaleX(0%);
  }
  to {
    transform-origin: 0% 0%;
    transform: scaleX(100%);
  }
}

table.data-table {
  width: 80%;
}

table.data-table col.progress-bar-col {
  width: 50%;
}

.album-genre {
  padding: 0.3em;
  font-style: italic;
}

.album-title {
  margin-top: 0.3em;
}
