* {
    font-family: sans-serif;
  }
  .album {
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0.2em;
    transition: 0.3s;
    display: inline-block;
  }
  .album:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .album .container {
    padding: 0.5em;
  }
  .completeness {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 15vw;
    padding: 0.1em;
  }
  .progress-bar {
    background-color: rgb(55, 164, 0);
    height: 100%;
    padding: 0.2em;
  }
  .invalid {
    background-color: darkred;
    color: white;
  }
  content.album-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.7em;
  }

  #footer {
    font-size: 10pt;
  }