{% import "macros.tmpl" as macros -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Albums - Beets Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/main.css" />
  </head>
  <body>
    {% include 'navigation.html' %}
    <content>
      <h2>Albums</h2>
      <div>Sort by: <a href="?sort_by=album">Album</a> <a href="?sort_by=albumartist_sort">Artist</a> <a href="?sort_by=year">Year</a></div>

      <div class="album-cards">
      {% for album in albums %}
        {{ macros.album_tile(album.id, album.title, album.mb_albumid, album.year, album.album_artist, album.genre, album.barcode, album.complete_percentage) }}
      {% endfor %}
      </div>
    </content>
    {% include 'footer.html' %}
  </body>
</html>
