<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Decades - Beets Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}" />
  </head>
  <body>
    {% include 'navigation.html' %}
    <content>
      <h2>Decades</h2>
      <div id="plot"></div>
    </content>
    {% include 'footer.html' %}
    <script>
      var decade_data = [{
        type: 'histogram',
        y: [{% for decade in decades %}"{{decade.decade}}", {% endfor %}]
      }];
      var layout = {
      
      };
      Plotly.newPlot("plot", decade_data, layout);
    </script>
  </body>
</html>
