<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Genre Decade Heatmap - Beets Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/main.css" />
  </head>
  <body>
    {% include 'navigation.html' %}
    <content>
      <h2>Genre Decade Heatmap</h2>
      <div id="plot-large"></div>
    </content>
    {% include 'footer.html' %}
    <script>
      var heatmap_data = [{
        type: 'heatmap',
        colorscale: 'RdBu',
        x: [{% for decade in decades %}"{{decade}}", {% endfor %}],
        y: [{% for genre in genre_list %}"{{genre}}", {% endfor %}],
        z: [{% for genre in heatmap%}[{% for decade in heatmap[genre] %}{{heatmap[genre][decade]}}, {% endfor %}], {% endfor %}],
        hoverongaps: false
      }];
      var layout = {
        yaxis: {
          automargin: "width",
          autorange:'reversed',
          dtick: 1
        },
        layout: 800,
        margin: {
          l: 45,
          r: 10,
          b: 20,
          t: 0,
        }
      };
      config = { responsive: true };
      Plotly.newPlot("plot-large", heatmap_data, layout, config);
    </script>


  </body>
</html>
