<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Genres - Beets Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}" />
  </head>
  <body>
    {% include 'navigation.html' %}
    <content>
      <h2>Genres</h2>
        <div id="plot"></div>
    </content>
    {% include 'footer.html' %}
    <script>
      var genre_data = [{
        type: 'bar',
        orientation: 'h',
        y: [{% for genre in genre_list %}"{{genre}}", {% endfor %}],
        x: {{count_list}}
      }];
      var layout = {
    yaxis:{
        autorange:'reversed',
        automargin: 'width',
	      dtick: 1
    }
};
      Plotly.newPlot("plot", genre_data, layout);
    </script>

  </body>
</html>
