<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Genres - Beets Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}" />
  </head>
  <body>
    {% include 'navigation.html' %}
    <content>
      <h2>Genres</h2>
      <table class="data-table">
        <colgroup>
          <col>
          <col class="progress-bar-col">
        </colgroup>  
        <tbody>
          <tr>
            <th>Genre</th>
            <th>Number of albums</th>
        {% for genre in genres[0] %}
        
          <tr>
            <td>{{genre.genre}}</td>
            <td>
              <div class="completeness">
                <div class="progress-bar" style="width:{{100.0*genre.count/genres[1]|round}}%;">
                  {{genre.count}}
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </content>
    {% include 'footer.html' %}
  </body>
</html>
