<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Beets Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}" />
  </head>
  <body>
    {% include 'navigation.html' %}
    <content>
      <h2>General insights</h2>
      <div class="insights">
      <div>{{track_count}} tracks</div>
      <div>{{album_count}} albums</div>
      <div>{{playback_length}} playback length</div>
      <div>{{file_size}} disk storage</div>
      <div>{{avg_bpm}} BPM on average</div>
      </div>
      <h3>File formats</h3>
      <p>
      <ul>
        {% for format in format_count %}
        <li>{{format.format}}: {{format.count}} tracks</li>
        {% endfor %}
      </ul>
      <div id="lossydistribution">
        <div id="lossless" title="{{lossless}} tracks in lossless formats" style="width: {{lossless/track_count*100}}%">{{lossless}}</div>
        <div id="lossy" title="{{lossy}} tracks in lossy formats" style="width: {{lossy/track_count*100}}%">{{lossy}}</div>
        <div id="unknown" title="{{unknown}} tracks in unknown formats" style="width: {{unknown/track_count*100}}%">{{unknown}}</div>
      </div>

    </content>
    {% include 'footer.html' %}
  </body>
</html>
