{% import "macros.tmpl" as macros -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Beets Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/main.css" />
  </head>
  <body>
    {% include 'navigation.html' %}
    <content>
      <h2>General insights</h2>
      <div class="insights">
      <div>{{track_count}} tracks</div>
      <div>{{album_count}} albums</div>
      <div>{{playback_length}} playback length</div>
      <div>{{file_size}} disk storage</div>
      <div>{{avg_bpm}} BPM on average</div>
      </div>
      
      <h3>Recently added albums</h3>
      <div class="album-cards">
        {% for album in recently_added_albums %}
          {{ macros.album_tile(album.id, album.title, album.mb_albumid, album.year, album.albumartist, album.genre)}}
        {% endfor %}
      </div>
      <h3>File formats</h3>
      <div id="plot"></div>

    </content>
    
    {% include 'footer.html' %}
    <script>
      var format_data = [{
        values: [{{lossless}}, {{lossy}}, {{unknown}}],
        labels: ["Lossless", "Lossy", "Unknown"],
        type: 'pie',
        textinfo: "label+percent",
        textposition: "outside",
      }];

      var layout = {
        width: 500,
        height: 400,
        
      }
      config = { responsive: true };
      Plotly.newPlot('plot', format_data, layout, config);
    </script>

  </body>
</html>
