<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Quality - Beets Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}" />
  </head>
  <body>
    {% include 'navigation.html' %}
    <content>
      <h2>Genres</h2>
      <table>
      {% for bitrate in bitrates %}
        <tr>
          <td style="text-align: right;">{{bitrate.bitrate}}</td>
          <td>
            <div class="completeness">
              <div class="progress-bar" style="width:{{100*bitrate.count/track_count|round}}%;">
                {{bitrate.count}}
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
      </table>
    </content>
    {% include 'footer.html' %}
  </body>
</html>
