<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Quality - Beets Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/main.css" />
  </head>
  <body>
    {% include 'navigation.html' %}
    <content>
      <h2>Quality per track</h2>
      <div id="plot"></div>
      <div id="boxplot"></div>
    </content>
    {% include 'footer.html' %}
    <script>
      var quality_data = [{
        type: 'histogram',
        histfunc: 'count',
        y: [{%for bitrate in bitrates %}{{bitrate.bitrate}}, {% endfor %}],
        nbinsy: 100
      }];
      var layout = {
        yaxis:{
          autorange:'reversed',
          automargin: 'width',
        },
        height: 700,
        margin: {
          l: 45,
          r: 10,
          b: 20,
          t: 0,
        }
      };
      config = { responsive: true };
      Plotly.newPlot("plot", quality_data, layout, config);

      var quality_data_box = {
        name: 'Quality',
        x: [{%for bitrate in bitrates %}{{bitrate.bitrate}}, {% endfor %}],
        type: 'box',
      };
      Plotly.newPlot("boxplot", [quality_data_box]);
    </script>

  </body>
</html>
