<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Quality - Beets Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}" />
  </head>
  <body>
    {% include 'navigation.html' %}
    <content>
      <h2>Quality per track</h2>
      <div id="plot"></div>
    </content>
    {% include 'footer.html' %}
    <script>
      var quality_data = [{
        type: 'histogram',
        histfunc: 'count',
        y: [{%for bitrate in bitrates %}{{bitrate.bitrate}}, {% endfor %}],
        nbinsy: 100
      }];
      var layout = {
        yaxis:{
          autorange:'reversed',
          automargin: 'width',
        }
      };
      Plotly.newPlot("plot", quality_data, layout);
    </script>

  </body>
</html>
