name: Docker Image CI

on:
  workflow_dispatch:
    inputs:
      image_version:
        description: 'Image version'
        required: true
        default: '0.0.1'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Login to GHCR.io
      run: docker login --username guerda --password ${{ secrets.PAT }} ghcr.io
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ghcr.io/guerda/guerda/beets-statistics:${{ github.event.inputs.image_version }} --tag ghcr.io/guerda/guerda/beets-statistics:latest
    - name: Push to ghcr.io
      run: docker push ghcr.io/guerda/guerda/beets-statistics:${{ github.event.inputs.image_version }}
